<div class="prompt-details">

  <div class="prompt-container">

    <span class="prompt-title"><%= @recipe.title %></span><br><br>
    <span class="recipe-description"><%= @recipe.description %></span><br><br>
    <span class="recipe-category"><%= @recipe.category %></span><br>
    <span class="created">Created by: <%= @recipe.user.email %></span>
  </div>


<div class="ingredients-instructions-container">
  <% if @recipe.longform_instructions %>
    <span class="instructions">Notes: <%= @recipe.longform_instructions %></span>
  <% end %>


  <div class="all-shorts">
    Ingredients:
    <ol class="remove-bullets">
      <% @recipe.ingredients.each do |ingredient| %>
        <li><form action="/recipes/<%=@recipe.id%>/ingredients/<%=ingredient.id%>">
          <input type="checkbox" name="ingredient" value="<%=ingredient.checked%>" > <%= ingredient.quantity %> <%= ingredient.unit %> <%= ingredient.name %></form></li>
      <% end %>
    </ol>

    Instructions:
    <ol class="remove-bullets">
      <% @recipe.instructions.each do |instruction| %>
        <li><form action="/recipes/<%=@recipe.id%>/instructions/<%=instruction.id%>">
          <input type="checkbox" name="instruction" value="<%=instruction.checked%>" > <%= instruction.step %></form></li>
      <% end %>
    </ol>
  </div>
</div>
